body{
    margin: 0px;
padding: 0px;
}


form{

    box-shadow: 0px 0px 10px black;
    border-radius: 2%;
    border: 2px solid cyan;
    background-color: azure;
    opacity: 5;
}

.lineheight{
    line-height: 500px;
    border: 5px dashed rgb(0, 0, 0);
    margin-left: 250px;
   
    
}

.Do-You{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow:0px 0px 10px black ;
    font-weight: 900;
    border-radius: 1%;
    color: black;
}